/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Righteous', cursive; 
*/

:root {
    --floral-white: hsla(46, 100%, 97%, 1);
    --pale-silver: hsla(38, 16%, 76%, 1);
    --black-olive: hsla(34, 6%, 24%, 1);
    --eerie-black: hsla(40, 4%, 14%, 1);
    --flame: hsla(17, 83%, 54%, 1);
}


body {
    /* background-color: var(--eerie-black); */
    background-image: radial-gradient(circle, var(--flame), var(--eerie-black));
    color: var(--pale-silver);
    font-family: 'Rajdhani', sans-serif;

    margin: 0;
    padding: 3%;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.description {
    font-family: 'Montserrat', sans-serif;
}

h2, h3 {
    font-family: 'Rajdhani', sans-serif;
}

#nome {
    text-align: center;
}

#parte1 {
    height: 300px;
    position: relative;
    /* border: 2px solid black; */
}

#fotoLucca {
    border-radius: 100%;

    float: left;
    height: 280px;

    position: absolute;   /*relative teria o mesmo efeito*/
    left: 50px;

    padding: 10px;
    background-color: var(--flame);
}

#descricao {
    position: absolute;
    top: 15%;
    right: 5%;
}

#skills ul li:nth-child(odd) {
    font-style: italic;
}
